**.TMP
**.a
**.dump
**.exe
**.gcda
**.gcno
**.lib
**.o
**.obj
**/.DS_Store
**/.cache
**/.idea
**/.pytest_cache
**/.vscode
**/__pycache__
**/build
**/html
**/rtf

cppcheck/*

bin/*
Thor/bin/*
Thor/drivers/f4/bin/*